@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {

    font-family: 'Ubuntu Mono', monospace;

}

#gallery > img {

    transition: all .2s ease-in-out;

}

#gallery > img:hover {

    transform: scale(1.25);

}

.cards {

    border-width: 0;

    display: flex;

    flex-direction: row;

    padding: 30px 20vw;

    overflow-x: scroll;

}

.cards::-webkit-scrollbar {

    display: none;

}

.cards > section {

    align-content: space-around;

    background-color: #444;

    border-radius: 20px;

    box-shadow: -20px 5px 10px #000;

    height: 370px;

    min-width: 280px;

    width: 280px;

    transition-duration: 300ms;
    transition-property: transform;

}

.cards > section:hover {

    transform: translateY(-25px);

}

.cards > section:hover~section {

    transform: translateX(125px);

}

.cards > section:not(:first-child) {

    margin-left: -110px;

}

.cards > section > h2 {

    margin-top: 20px;

    text-decoration-line: none;

}

.cards > section > img {

    border-radius: 15px;

    margin: 16px 40px;

    width: 200px;

}

nav > div > a:hover {

    transition: color 500ms;

    color: #e879f9 !important;

}
